.weather_info {
  /* background-color: tomato; */
  position: relative;
  z-index: 1;
}

.icon{
  width: 130px;
  height: 130px;
  overflow: hidden;
  text-indent: -1000px;
  position: relative;
}

.icon::before {
  content: "";
  width: 85%;
  height: 85%;
  background: url("../../assets/img/black_texture.png") repeat;
  /* background: black; */
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Nota: Para que "::before" do elemento com a classe "icon" possa ser corretamente posicionado abaixo do ícone usando z-index, o elemento pai "weather_info" deve ter "position" definido como "relative" e "z-index" definido como 1. Isso garante que o "::before" fique atrás do ícone, mas ainda dentro do contexto de empilhamento do pai. */


/* Ceu limpo */
.icon01n { background: url("../../assets/icon/animated/night.svg") no-repeat -5px -5px / contain;} /* Noite */
.icon01d { background: url("../../assets/icon/animated/day.svg") no-repeat 0 0 / contain;} /* Dia */

/* Nublado */
.icon02n { background: url("../../assets/icon/animated/cloudy-night-3.svg") no-repeat 8px 0 / contain;} /* Noite */
.icon02d { background: url("../../assets/icon/animated/cloudy-day-3.svg") no-repeat 8px 0 / contain;} /* Dia */

/* Nuvens dispersas */
.icon03n, .icon04n { background: url("../../assets/icon/animated/cloudy.svg") no-repeat -4px 0 / contain;} /* Noite */
.icon03d, .icon04d { background: url("../../assets/icon/animated/cloudy.svg") no-repeat -4px 0 / contain;} /* Dia */

/* Chuva leve */
.icon09n, .icon10n { background: url("../../assets/icon/animated/rainy-5.svg") no-repeat 15px 2px / contain;} /* Noite */
.icon09d, .icon10d { background: url("../../assets/icon/animated/rainy-1.svg") no-repeat 15px 2px / contain;} /* Dia */

/* Tempestade */
.icon11d, .icon11n { background: url("../../assets/icon/animated/thunder.svg") no-repeat 10px 0 / contain;} /* Noite / Dia */

/* Nevando */
.icon11n { background: url("../../assets/icon/animated/snowy-6.svg") no-repeat 10px 0 / contain;} /* Noite */
.icon11d { background: url("../../assets/icon/animated/snowy-3.svg") no-repeat 10px 0 / contain;} /* Dia */

/* Névoa */
.icon50d, .icon50n { background: url("../../assets/icon/animated/cloudy.svg") no-repeat -4px 0 / contain;} /* Dia e Noite*/
/* obs: este icone representa nevoa ou fumaça. é preciso pesquisar um melhor  */

/* Tabela com o retorno da api para cada icone */
/* https://openweathermap.org/weather-conditions */