@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@700&family=Lato:wght@300;400;900&display=swap');

/* font-family: 'Kalnia', serif;
font-family: 'Lato', sans-serif; */

:root {
  --color-text: #ffffff;
  --color-title: #f7c130;
  --color-cta: #ff6347;
  --color-dark: #030c1a;

  --default-radius: 5px;
  --default-gap: 2rem;
  --mobile-width: 90vw;
  --desktop-width: 50vw;
}

html {
  font-size: 62.5%;
}

body {
  background: url("../assets/img/black_texture.png") repeat;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--color-text);
  font-size: 16px;
}

main{
  width: 100VW;
  max-width: 100%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding-top: 5vh;
}

.app_title  {
  font-family: 'Kalnia', serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 10px;
  color: var(--color-title);
  text-align: center;
  line-height: 1;
  margin-bottom: 20px;
}

.app_sub_title {
  text-align: center;
}